
html.overflow-y-scroll {
  overflow-y:scroll;
}

body {
  font-family: "Helvetica", "Arial", "Liberation Sans"
}

.welcome-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-page-text {
  text-align:right;
  color:black;
  font-size:24px;
  text-transform:uppercase;
}

.container {
  width:972px;
  margin-left:auto;
  margin-right:auto;
}

.menu {
  position:fixed;
  top:40px;
}

.content {
  margin-left:272px;
  margin-top:40px;
  margin-bottom: 40px;
}

.logo-container {
  width: 224px;
  height:264px;
}

.logo-container a.logo-link-section {
  text-align:center;
  display: table-cell;
  vertical-align: middle;
  height: 220px;
  width: 220px;
  padding-left:4px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-lang {
  margin-top:4px;
  padding-left:4px;
  font-size:12px;
}

.menu-lang a {
  color:black;
  text-decoration:none;
}

.menu-lang a:hover {
  text-decoration:underline;
}

.logo-n {
  background:url("../images/logo-n-unselected.png") no-repeat top right;
}

.logo-n.selected {
  background:url("../images/logo-n-selected.png") no-repeat top right;
}

.logo-y {
  background:url("../images/logo-y-unselected.png") no-repeat top right;
}

.logo-y.selected {
  background:url("../images/logo-y-selected.png") no-repeat top right;
}


.logo-x {
  background:url("../images/logo-x-unselected.png") no-repeat top right;
}

.logo-x.selected {
  background:url("../images/logo-x-selected.png") no-repeat top right;
}

.content-block{
  vertical-align: top;
  display:inline-block;
  margin-left:13.333px;
  width:220px;
  height:264px;
}

.content-block a {
  color:black;
  text-decoration:none;
  text-transform: uppercase;
  font-size:12px;
}

.content-block a > img {
  display:block;
  background: url("../images/default-bg-box.png") no-repeat;
  height:220px; 
  width:220px;
  margin-bottom:4px;
}

.content-image {
  width:700px;
  height:484px;
  margin-bottom:44px;
}

.content-block-text {
  vertical-align: top;
  display:inline-block;
  height:220px;
  width:220px;
  border:1px solid black;
  box-sizing: border-box;
}

.content-block-text, .content-block-text a {
  color: black;
  text-decoration:none;
}

.content-block-text a:hover {
  text-decoration:underline;
}

.content-blocks-text > div:nth-child(2n) {
  margin-left:20px;
  margin-right:20px;
}

.content-blocks-text.project-page {
  font-size:13px;
}

.content-block-text > div {
  text-align:center;
  display: table-cell;
  vertical-align: middle;
  height: 220px;
  width: 220px;
  padding-left:10px;
  padding-right:10px;
}

.content-blocks-text.project-page .content-block-text > div > div {
    margin-bottom:4px;
}

.content-block-text.align-left > div {
  text-align:left;
}

.color-on-hover img{ 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.color-on-hover:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); 
}

.cv h2 {
  margin-bottom:0;
}

.cv dt  {
  display:inline-block;
  min-width:100px;
  font-weight:bold;
}

.cv dd {
  display:inline;
  margin:0;
}

.cv dd:after {
  display:block;
  content:'';
  margin-bottom:5px;
}

.long-text-section h2{
 margin-bottom:0.25em;
 margin-top:0.25em;
}

.long-text-section div, .long-text-section p {
  text-align:justify;
  line-height:1.25em;
}

.bold {
  font-weight:bold;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.uppercase {
  text-transform:uppercase;
}

.office-profile-box {
  box-sizing: border-box;
  border:1px solid black;
  height:484px;
  width:700px;
  padding-left:10px;
  padding-right:10px;
}

.office-profile-box-small {
  height:220px;  
}

.box-separator {
  margin-bottom:44px
}

.office-profile {
  font-size:13px;
}

.news-box {
  box-sizing: border-box;
  border:1px solid black;
  width:700px;
  padding-left:10px;
  padding-right:10px;
  font-size:13px;
}

.news-box h1 {
  font-size: 19.5px;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.news-box a {
  color:black;
  text-decoration:none;
}

.news-box a:hover {
  text-decoration:underline;
}

